@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.App {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 60px 0px;
}

.App input[type=search] {
  width: 500px;
  height: 50px;
  padding: 20px;
}

.App input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.App .launches-container {
  width: 500px;
  height: 100%;
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.App .launches-container .launch {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
  opacity: 0;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(128, 128, 128, 0.438);
          box-shadow: 0px 3px 3px 0px rgba(128, 128, 128, 0.438);
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App .launches-container .launch .mission-header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .launches-container .launch .mission-header .mission-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.App .launches-container .launch .mission-header .mission-status {
  padding: 4px 8px;
  border-radius: 10px;
  font-family: monospace;
}

.App .launches-container .launch .mission-header .mission-status--upcoming {
  background-color: cyan;
}

.App .launches-container .launch .mission-header .mission-status--failed {
  background-color: #e45e5e;
  color: white;
}

.App .launches-container .launch .mission-header .mission-status--success {
  background-color: #2fcc2f;
  color: white;
}

.App .launches-container .launch .mission-details {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
}

.App .launches-container .launch .mission-details .details-top, .App .launches-container .launch .mission-details .details-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.App .launches-container .launch .mission-details .details-top {
  gap: 10px;
}

.App .launches-container .launch .mission-details img {
  width: 128px;
  height: 128px;
}

.App .launches-container .launch .mission-details p {
  font-family: 'Roboto', sans-serif;
}

.App .launches-container .launch .mission-details.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .launches-container .launch .mission-details-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #457a99;
}

.App .launches-container .loader {
  width: 100%;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .launches-container .loader.end-of-list::before {
  content: 'End of list';
  display: inline-block;
}

.App .launches-container .loader .loader-spin {
  width: 40px;
  height: 40px;
  border: 4px solid #bebebe;
  border-top: 4px solid #5394b3;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.App .launches-container .loader .loader-spin.show {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  opacity: 1;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */